*.aab
*.apk
*.hprof
*.iml
*.jks
*.keystore
*.log
.cxx/
.externalNativeBuild/
.gradle/
.idea/assetWizardSettings.xml
.idea/libraries/
.idea/modules.xml 
.idea/navEditor.xml
.idea/workspace.xml
build/
captures/
deploymentTargetDropDown.xml
google-services.json
local.properties
misc.xml
output.json
render.experimental.xml